@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #02044A;
  color: white;
}

h1 {
  font-size: 4em;
}

input {
  width: 55%;
  height: 1.5em;
  padding: 1em;
  border-radius: 0.7rem;
  border: 0.2em solid #25CD89;
  background-color: #02044A;
  color: white;
}

input::placeholder {
  color: white;
}

button {
  border-radius: 3rem;
  background-color: #25CD89;
  color: white;
  padding: 1.4em;
  text-align: center;
}

button:hover {
  background-color: #4CAF50;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 6em 0;
}

.input {  
  display: flex;
  margin-bottom: 4em;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
}


